.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
}

.navbar .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navbar .left span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: green;
    font-size: 20px;
}

.navbar .left .search{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    width: 30vw;
    top: 0px;
    padding: 0 5px;
}

.navbar .left .search input{
    outline: none;
    border: 0px;
    margin: 5px;
}

.navbar .right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.navbar .right .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .right .profile img{
    border-radius: 30px;
    margin: 0 5px;
}